policy_module(gigaddik, 1.100.1)

########################################
#
# Declarations
#

type gigaddik_t;
type gigaddik_exec_t;
init_daemon_domain(gigaddik_t, gigaddik_exec_t)

permissive gigaddik_t;

type gigaddik_initrc_exec_t;
init_script_file(gigaddik_initrc_exec_t)

type gigaddik_conf_t;
files_type(gigaddik_conf_t)

type gigaddik_var_lib_t;
files_type(gigaddik_var_lib_t)

type gigaddik_var_run_t;
files_type(gigaddik_var_run_t)

type gigaddik_port_t;
corenet_port(gigaddik_port_t)

########################################
#
# gigaddik local policy
#
allow gigaddik_t self:process { fork };

allow gigaddik_t self:fifo_file rw_fifo_file_perms;
allow gigaddik_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(gigaddik_t, gigaddik_conf_t, gigaddik_conf_t)
manage_files_pattern(gigaddik_t, gigaddik_conf_t, gigaddik_conf_t)

manage_dirs_pattern(gigaddik_t, gigaddik_var_lib_t, gigaddik_var_lib_t)
manage_files_pattern(gigaddik_t, gigaddik_var_lib_t, gigaddik_var_lib_t)
files_var_lib_filetrans(gigaddik_t, gigaddik_var_lib_t, { dir file })

manage_dirs_pattern(gigaddik_t, gigaddik_var_run_t, gigaddik_var_run_t)
manage_files_pattern(gigaddik_t, gigaddik_var_run_t, gigaddik_var_run_t)

sysnet_dns_name_resolve(gigaddik_t)
corenet_all_recvfrom_unlabeled(gigaddik_t)

allow gigaddik_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(gigaddik_t)
corenet_tcp_sendrecv_generic_node(gigaddik_t)
corenet_tcp_sendrecv_all_ports(gigaddik_t)
corenet_tcp_bind_generic_node(gigaddik_t)

gen_require(`
    type gigaddik_port_t;
')
allow gigaddik_t gigaddik_port_t:tcp_socket name_bind;

gen_require(`
    type gigaddik_port_t;
')
allow gigaddik_t gigaddik_port_t:tcp_socket name_connect;

domain_use_interactive_fds(gigaddik_t)

files_read_etc_files(gigaddik_t)

miscfiles_read_localization(gigaddik_t)

sysnet_dns_name_resolve(gigaddik_t)

allow gigaddik_t gigaddik_exec_t:file execute_no_trans;
allow gigaddik_t self:process setsched;
corecmd_exec_ls(gigaddik_t)
corenet_tcp_connect_http_port(gigaddik_t)
dev_read_urand(gigaddik_t)
fs_getattr_xattr_fs(gigaddik_t)
kernel_read_system_state(gigaddik_t)
