
## <summary>policy for gigaddik</summary>


########################################
## <summary>
##	Transition to gigaddik.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gigaddik_domtrans',`
	gen_require(`
		type gigaddik_t, gigaddik_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gigaddik_exec_t, gigaddik_t)
')


########################################
## <summary>
##	Execute gigaddik server in the gigaddik domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gigaddik_initrc_domtrans',`
	gen_require(`
		type gigaddik_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, gigaddik_initrc_exec_t)
')


########################################
## <summary>
##	Search gigaddik lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gigaddik_search_lib',`
	gen_require(`
		type gigaddik_var_lib_t;
	')

	allow $1 gigaddik_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read gigaddik lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gigaddik_read_lib_files',`
	gen_require(`
		type gigaddik_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, gigaddik_var_lib_t, gigaddik_var_lib_t)
')

########################################
## <summary>
##	Manage gigaddik lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gigaddik_manage_lib_files',`
	gen_require(`
		type gigaddik_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, gigaddik_var_lib_t, gigaddik_var_lib_t)
')

########################################
## <summary>
##	Manage gigaddik lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gigaddik_manage_lib_dirs',`
	gen_require(`
		type gigaddik_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, gigaddik_var_lib_t, gigaddik_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a gigaddik environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`gigaddik_admin',`
	gen_require(`
		type gigaddik_t;
		type gigaddik_initrc_exec_t;
		type gigaddik_var_lib_t;
	')

	allow $1 gigaddik_t:process { ptrace signal_perms };
	ps_process_pattern($1, gigaddik_t)

	gigaddik_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 gigaddik_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, gigaddik_var_lib_t)

')

