# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=GigAddik Core
Comment=GigAddik Core QT test network
GenericName=GigAddik Digital Currency QT client testnet network
Exec=gigaddik-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/gigaddik_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;gigaddik;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=gigaddik-qt_testnet.desktop
